body {
    background-color: whitesmoke;
    margin: 0px;
}

div#data-container {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
    padding: 10px;
    margin: 20px;
    display: flex;
    background-color: #fefefe;
    word-wrap: break-word;
}

div#favicon-div {
    padding: 5px;
    cursor: pointer;
    width: 5%;
}

div#url-div {
    font-size: 1.1em;
    line-height: 1.4em;
    width: 95%;
}

div#options-div {
}

div#note {
    padding: 20px;
    font-size: 0.8em;
    color: #999;
}

div#header {
    background-color: steelblue;
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    padding: 20px;
    margin: 0 0 10px 0;
}

span#title {
    font-weight: bold;
}

span#info {
    font-weight: 100;
}

span#cross {
    font-size: 2.0em;
    color: #999;
    cursor: pointer;
}

img#favicon-image {
    width: 32px;
    height: 32px;
}
